* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  background-color: #0a0b0d;
  // font-family: 'Space Grotesk', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}
